*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
header{
    display: flex;
    padding: 30px 0;
    align-items: center;
    justify-content: space-between;
    color: white;
}

body{
    background-color: #2B2B2B;
}

h2{
    font-size: 30px;

    color: white;
    gap: 50px;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;

 
}   
button{
    background-color: blue;
    width: 175px;
height: 50px;
border-radius: 15px;
color: white;
transition: 1s;

}
nav ul li a{
    text-decoration: none;
    color: white;
    display: flex;
}
button:hover{
    background-color: white;
    color: black;
}
main{
    display: flex;
}
h1{
    margin-top: 100px;
    color: white;
    width: 465px;
height: 166px;
font-size: 65px;
}
p{
    margin-top: 20px;
    width: 461px;
height: 64px;
    color: gray;
    font-size: 15px;
}
main button{
    margin-top: 72px;
    background-color: #F8D57E;
}
.ota img{
    display: flex;
}
.kurslar{
    display: flex;
 
}

.articlcard{
width: 311px;
height: 240px;

}
.cardtext{
    padding: 30px;
    flex-wrap: wrap;
}
.cardtext p{
    color: gray;
    margin: 15px;
}
.articlota{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    margin-top: 200px;
}
.articlcard img{
    text-align: center;
    margin: 0 auto;
}